/* --------------- reset.css --------------- */

html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	/* обнуляем отступы и убираем бордюры */
	vertical-align: baseline;
	/* приводим все к одной базовой линии */
	background: transparent;
	/* чтобы не проскакивали левые фоны, установленные по умолчанию */
	font-size: 100%;
	/* размер шрифта всем одинаковый */
}

a {
	/* ссылка не в общем списке чтобы не сбрасывать outline по умолчанию */
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	outline: none;
	text-decoration: none;
}

table {
	/* устраняем отступы между ячейками таблицы */
	border-collapse: collapse;
	border-spacing: 0;
}

td, td img {
	vertical-align: top;
	/* возвращаем привычное вертикальное выравнивание */
}

input, select, button, textarea {
	margin: 0;
	/* убираем отступы по умолчанию для элементов форм (в частности для checkbox и radio) */
	font-size: 100%;
	/* делаем размер шрифтов везде одинаковым */
	outline: none;
}

input[type="text"], input[type="password"], textarea {
	padding: 0;
	/* убираем внутренние отступы для текстовых полей */
}

input[type="checkbox"] {
	/* вертикальное выравнивание чекбоксов и радиобатонов относительно меток */
	vertical-align: bottom;
}

input[type="radio"] {
	vertical-align: text-bottom;
}

sub {
	vertical-align: sub;
	font-size: smaller;
}

sup {
	vertical-align: super;
	font-size: smaller;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

nav ul {
	list-style: none;
}

/* --------------- /reset.css --------------- */

/* --------------- базовые настройки ---------*/

html {
	min-height: 100%;
	/* всегда показываем вертикальную полосу прокрутки  */
}

body {
	color: #444;
	text-align: left;
	font-family: 'Roboto', sans-serif;
	font-size: 1em;
	/* используем безопасные шрифтовые CSS стеки */
	min-height: 100%;
}

a, a:visited {
	/* порядок правил для ссылок имеет значение */
	color: #e6618c;
	text-decoration: underline;
}

a:hover {
	color: #fdf208;
	text-decoration: none;
}

a:focus, a:active {
	color: #c83867;
	text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

img {
	max-width: 100%;
}

.clr {
	clear: both;
}

.clearfix:after {
	clear: both;
	content: "";
	display: table;
}

/* --------------- /базовые настройки ---------*/

/* NAVIGATION */

.zone {
	max-width: 1200px;
	margin: 0 auto;
}

header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: #fff;
	z-index: 10;
}

.top {
	justify-content: flex-end;
	padding: 30px 10px 10px 0;
}

.logo {
	margin-right: auto;
	padding: 0;
	font-size: 1.5rem;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 400;
}

.top p {
	padding: 0 20px;
}

.top p img {
	vertical-align: middle;
	margin-right: 5px;
}

.top p a {
	padding: 0 20px;
	color: #444;
	text-decoration: none;
	text-transform: uppercase;
}

.top p a:hover {
	color: #f45a40;
}

.bottom {
	justify-content: flex-start;
	padding: 5px 0;
	border-top: 1px solid #eee;
}

.main-menu li {
	padding: 10px 20px 10px 0;
	text-transform: uppercase;
}

.main-menu li a {
	color: #444;
	text-decoration: none;
}

.main-menu li a:hover {
	color: #f45a40;
}

.main-menu li a.active-menu {
	color: #f45a40;
}

.site-search {
	margin: 5px;
}

.site-search input[type=image] {
	height: 16px;
	padding-top: 4px;
}

.site-search input {
	padding: 0;
	border: none;
}

@media only screen and (max-width: 700px) {
	.bottom.container {
		justify-content: flex-start;
	}
}

@media only screen and (max-width: 530px) {
	.top.container {
		justify-content: flex-end;
	}

	.top p a {
		padding: 0;
	}
}

@media only screen and (max-width: 475px) {
	.top.container {
		flex-direction: column;
		justify-content: center;
		align-content: center;
		align-items: center;
		padding: 10px 0;
	}

	.logo {
		margin: 0;
	}
	.main-menu {
		font-size: 1.2rem;
	}
	.main-menu.container {
		justify-content: flex-start;
	}

	form.site-search {
		display: inline-block;
	}
}

/* COVER */

.cover {
	margin-top: 150px;
}

.my-slider ul li {
	position: relative;
	color: #f45a40;
}

.my-slider ul li h2 {
	position: absolute;
	top: 250px;
	left: 25px;
	font-size: 4rem;
	font-weight: 500;
	line-height: 1;
	text-transform: uppercase;
}

.my-slider ul li p {
	position: absolute;
	top: 400px;
	left: 25px;
	line-height: 1.5rem;
}

.my-slider ul li img {
	width: 100%;
}

.unslider-nav {
	position: relative;
	max-width: 1200px;
	top: -40px;
}

.unslider-nav ol li {
	background-color: #111;
}

@media only screen and (max-width: 900px) {
	.my-slider ul li h2 {
		top: 100px;
		left: 10px;
		font-size: 3rem;
	}
	.my-slider ul li p {
		top: 200px;
		left: 10px;
	}
}

@media only screen and (max-width: 700px) {
	.cover {
		margin-top: 180px;
	}
	.my-slider ul li h2 {
		top: 50px;
		left: 10px;
		font-size: 2rem;
	}
	.my-slider ul li p {
		top: 120px;
		left: 10px;
		font-size: 0.7rem;
		line-height: 1rem;
	}
}

@media only screen and (max-width: 475px) {
	.cover {
		margin-top: 220px;
	}

	.my-slider ul li h2 {
		top: 20px;
		font-size: 1.5rem;
	}
	.my-slider ul li p {
		top: 75px;
	}
}

/* NEWS */

.container {
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

.card {
	flex-basis: 31%;
	margin: 10px 0;
}

.card img {
	width: 100%;
	object-fit: cover;
	object-position: bottom;
}

.card h2 {
	margin: 10px 0;
	margin-right: auto;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1.5rem;
	text-transform: uppercase;
}

.card h2 a {
	color: #f45a40;
	text-decoration: none;
}

.card h2 a:hover {
	text-decoration: underline;
}

@media only screen and (max-width: 475px) {
	.news.container {
		flex-wrap: wrap;
	}
	.news .card {
		flex-basis: 100%;
	}
}

/* POPULAR PRODUCTS  */

h1.zone {
	margin: 20px auto;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 2rem;
	text-align: center;
	text-transform: uppercase;
}

.products .card {
	flex-basis: 23%;
	border: 1px solid #eee;
}

.card-content {
	margin: 10px 25px;
	padding: 10px 0 0 0;
}

.card-content h2 {
	font-weight: 500;
}

.card-content h3 {
	margin: 5px 0;
	font-size: 1rem;
	font-weight: 300;
	font-style: italic;
	text-transform: uppercase;
}

.card-content p {
	margin: 5px 0;
	font-size: 0.8rem;
	text-indent: 5px;

}

.product-price {
	overflow: hidden;
	margin: 20px 20px 10px;
	border-top: solid 1px #eee;
	padding-top: 10px;
}

.price {
	float: left;
	color: #f45a40;
	font-size: 1.2rem;
	font-weight: 500;
}

.btn-add-basket {
	float: right;
	width: 20px;
}

.btn-add-basket a img {
	width: 100%;
	margin-right: auto;
}

@media only screen and (max-width: 900px) {
	.container {
		flex-wrap: wrap;
		justify-content: space-around;
	}
	.products .card {
		flex-basis: 45%;
	}
}

@media only screen and (max-width: 475px) {
	.products .card {
		flex-basis: 100%;
	}
}

/* ABOUT */
#map {
	float: right;
	width: 35%;
}

.mapin {
	position: relative;
	padding-bottom: 75%; /* размеры фрейма высота 450 / ширина 600 = 75% */
	height: 0;
	overflow: hidden;
}

.mapin iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.about article {
	width: 60%;
	
}

.about h1 {
	margin: 20px 0;
	font-size: 2rem;
	font-weight: 500;
}

.about p {
	margin: 10px 0;
	padding: 0 10px 0 0;
	font-size: 1.2rem;
	text-align: justify;
	line-height: 1.5rem;
}

@media only screen and (max-width: 700px) {
	#map {
		float: none;
		width: 100%;
	}

	.about article {
		width: 100%;
		
	}
}

/* SUBSCRIPTION */

.zone-signup {
	width: 100%;
	margin: 0;
	padding: 30px 0;
	color: #eee;
	background-color: #f45a40;
}

.zone-signup .zone h2 {
	margin: 10px 0;
	font-size: 1.5rem;
	text-transform: uppercase;
}

.zone-signup .zone form input[type="email"] {
	border: none;
	padding: 7px 20px;
	font-size: 0.8rem;
	text-transform: uppercase;
}

.zone-signup .zone form input[type="submit"] {
	margin-left: 20px;
	border: none;
	padding: 7px 20px;
	color: #eee;
	font-size: 0.8rem;
	text-transform: uppercase;
	background-color: #ee8674;
	cursor: pointer;
} 

/* FOOTER */

footer {
	margin: 0;
	background-color: #444;
	color: #eee;
}

.footer .card {
	flex-basis: 23%;
}


.footer .card .card-content p {
	margin: 15px 0;
	color: #aaa;
}

.card-content address {
	margin: 5px 0;
	color: #aaa;
	font-size: 0.8rem;
	font-style: normal;
}

.card-content p a {
	color: #eee;
	text-decoration: none;
}

.card-content ul {
	columns: 2 30px;
}

.card-content ul li {
	list-style-type: none;
}

.card-content ul li a {
	text-decoration: none;
	color: #aaa;
	font-size: 0.8rem;
}

.card-content ul li a:hover {
	color: #eee;
}

.footer .card .card-content form input[type="email"] {
	width: 100%;
	margin: 10px 0;
	border: none;
	padding: 7px 20px;
	font-size: 0.8rem;
	text-transform: uppercase;
}

.footer .card .card-content form textarea {
	width: 100%;
	margin: 10px 0;
	border: none;
	padding: 7px 20px;
	font-family: 'Roboto', sans-serif;
	font-size: 0.8rem;
	text-transform: uppercase;
}

.footer .card .card-content form input[type="submit"] {
	border: none;
	padding: 7px 20px;
	color: #eee;
	background-color: #F45A40;
	font-size: 0.8rem;
	text-transform: uppercase;
	cursor: pointer;
}

@media only screen and (max-width: 900px) {
	.footer.container {
		flex-wrap: wrap;
		justify-content: space-evenly;
	}
	.footer .card {
		flex-basis: 45%;
	}
}

@media only screen and (max-width: 470px) {
	.footer.container {
		flex-direction: column;
		justify-content: center;
		align-content: center;
		align-items: flex-start;
	}
	.footer .card {
		flex-basis: 95%;
		margin: 0 2.5%;
	}

	.footer .card .card-content form input[type="email"] {
		width: 80%;
	}
	
	.footer .card .card-content form textarea {
		width: 80%;
	}
}